* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: grey;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.guest-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.guest {
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #333;
}
